<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Happy Birthday Ilya</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/hb.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
</head>

<body>
{{{body}}}
</body>
</html>
