<div class="center">
    <button class="btn">🎂</button>
    <div class="intro">
        <h1 class="ml5">
            <div id="mainField"></div>
            <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters letters-left">Поздравление Илюхи</span>
    <span class="letters ampersand">v:</span>
    <span class="letters letters-right">0.0.1</span>
    <span class="line line2"></span>
  </span>
        </h1>


    </div>

</div>
<script src="js/hb.js"></script>